- @page_title = "Issue Manager"
%p
  = link_to 'Project Summary', @project
  - if @labels.any?
    %span Prefiltering labels by:
    - @labels.each do |label|
      %span.label-badge.label.label-primary
        %span.label-text= label
        %i.remove-label-button.fa.fa-times-circle
.milestone-selector
  %span Select a milestone
  %select#milestone-selector{:name => "milestone-selector"}
    %option{:value => "all"} All
    - @milestones.each do |title|
      - if params[:milestone] == title
        %option{:selected => "selected", :value => title}= title
      - else
        %option{:value => title}= title
  %label{:for => "local-filter"}
    Filter
    %input.local-filter{:placeholder => "Quick filter issues", :type => "text", "data-filter-for" => 'issues'}
    %button#labels-button.btn.btn-sm.btn-default.label-legend-button Toggle Labels
- if @issues.size > 0
  #column_headers.column-headers
    - (1..num_cols).each do |i|
      .column-heading
        %input{:id => "col-header-#{i}", :type => "text", :value => @project.column_headers[i.to_s]}/
  .gridster
    %ul.gridster-data.local-filterable{"data-filtered-by" => "issues"}
      - col = 1
      - row = 1
      - @issues.each do |i|
        - meta = i.labels.collect(&:name) + [i.assignee, i.title]
        - meta.compact!
        - repo = i.repository

        %li{class: "local-filterable portlet issue-repo-#{@project.repositories.index(repo) % 10}", "data-col" => i.col, "data-row" => i.row, "data-sizex" => i.width, "data-sizey" => i.height, :id => i.id, "data-meta" => meta }
          %div{:class => "issue-label-container #{'expanded' if @project.display_labels}"}
            - i.labels.each do |label|
              .issue-label{:style => "background-color:##{label.color};", :title => label.name}= label.name
          .portlet-header
            - if i.assignee
              .issue-assignee{"data-username" => i.assignee}
                %a{:href => "https://github.com/#{i.assignee}", :target => "_blank", :title => i.assignee}
                  / %img.eightfoot-avatar{:alt => user.login, :src => user.rels[:avatar].href}/
            %span
              %span.issue-link
                %a{:href => i.source, :target => "_blank"}
                  %i.fa.fa-external-link
              - if i.comments_count > 0
                %a.comments-link{:href => i.source, :target => "_blank"}
                  %i.fa.fa-comments-o
                  = i.comments_count
              / - if pr_url = pull_request_url(i)
              /   %a.pr-link{:href => pull_request_changes_url(pr_url), :target => "_blank"}
              /     %i.fa.fa-code-fork
              %span.issue-title
                = i.title
- else
  %p No issues to display! Good job :)
