<h2><%= @project.name %></h2>
<div class="column">
  <% @issues.each do |issue| %>
    <div id="issue_<%= issue.id %>" class="portlet med">
      <div class="portlet-header">
        <span><%= issue.title %></span>
      </div>
      <div class="portlet-content">
        <a target="_blank" href="<%= issue.html_url %>">#<%= issue.number %></a>
      </div>
    </div>
  <% end %>
</div>
