<% @page_title = @project.name %>
<p>
<%= link_to 'Project Summary', @project %>

</p>
<div class="milestone-selector">
  <span>Select a milestone</span>
  <select name="milestone-selector" id="milestone-selector">
    <option value="all">All</option>
    <% @milestones.each do |m| %>
      <% if params[:milestone].to_i == m.number.to_i %>
      <option value="<%= m.number %>" selected="selected"><%= m.title %></option>
      <% else %>
      <option value="<%= m.number %>"><%= m.title %></option>
      <% end %>
    <% end %>
  </select>

  <label for="local-filter">Filter</span>
  <input type="text" id="local-filter">
</div>

<% if @issues.size > 0 %>
<div class="gridster">
  <ul class="gridster-data">
    <% col = 1 %>
    <% row = 1 %>
    <% @issues.each do |issue| %>
      <% i = @issue_map[issue.id] %>
      <li class="portlet" id="<%= issue.id %>" data-sizex="<%= issue.width %>" data-sizey="<%= issue.height %>" data-col="<%= issue.col %>" data-row="<%= issue.row %>">
       <% i.labels.each do |label| %>
         <div class="issue-label" title="<%=label.name%>" style="background-color:#<%=label.color%>"><%=label.name%></div>
       <% end %>
        <div class="portlet-header">
          <% if user =  i.try(:assignee) %>
            <div class="issue-assignee">
              <a href="https://github.com/<%= user.login %>" title="<%= user.login %>" target="_blank">
                <img class="eightfoot-avatar" src="<%= user.rels[:avatar].href %>" alt="<%= user.login %>"/>
              </a>
            </div>
          <% end %>
          <span>
            <span class="issue-link">
              <a target="_blank" href="<%= i.rels[:html].href %>">
                <i class="fa fa-external-link"></i>
              </a>
            </span>
            <% if i.comments.to_i > 0 %>
            <a class="comments-link" target="_blank" href="<%= i.rels[:html].href %>">
              <i class="fa fa-comments-o"></i>
              <%= i.comments %>
            </a>
            <% end %>
            <% if pr_url = pull_request_url(i) %>
            <a href="<%= pull_request_changes_url(pr_url) %>" target="_blank">
              <i class="fa fa-code-fork"></i>
            </a>
            <% end %>
            <span class="issue-title">
              <%= i.title %>
            </span>
          </span>
        </div>
        <% if !i.body.blank? %>
        <% row = row + 1
           if row >= 5
             col = col + 1
             row = 1
           end
           %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<% else %>
<p>No issues to display! Good job :)</p>
<% end %>
