<div class="milestone-selector">
  <span>Select a milestone</span>
  <select name="milestone-selector" id="milestone-selector">
    <option value="all">All</option>
    <% @milestones.each do |m| %>
      <option value="<%= m.number %>"><%= m.title %></option>
    <% end %>
  </select>
</div>

<div class="gridster">
  <ul>
    <% col = 1 %>
    <% row = 1 %>
    <% @issues.each do |issue| %>
      <% i = @issue_map[issue.id] %>
      <li class="portlet" data-sizex="1" data-sizey="1" data-col="<%= col %>" data-row="<%= row %>">
        <div class="portlet-header">
          <span>
            <span class="issue-title">
              <%= i.title %>
            </span>
            <span class="issue-link">
              <a target="_blank" href="<%= i.rels[:html].href %>">
                <i class="fa fa-external-link"></i>
              </a>
            </span>
            <% if i.comments.to_i > 0 %>
            <a class="comments-link" target="_blank" href="<%= i.rels[:html].href %>">
              <i class="fa fa-comments-o"></i>
              <%= i.comments %>
            </a>
            <% end %>
          </span>
          <% if user =  i.try(:assignee) %>
            <div>
              <a href="https://github.com/<%= user.login %>" title="<%= user.login %>" target="_blank">
                <img class="eightfoot-avatar" src="<%= user.rels[:avatar].href %>" alt="<%= user.login %>"/>
              </a>
            </div>
          <% end %>
        </div>
        <div class="portlet-content">
          <%= raw BlueCloth.new(i.body).to_html %>
        </div>
        <% row = row + 1
           if row >= 5
             col = col + 1
             row = 1
           end
           %>
      </li>
    <% end %>
  </ul>
</div>
