- @page_title = @project.name
%p
  = link_to 'Project Summary', @project
  - if @labels.any?
    %span Prefiltering labels by:
    - @labels.each do |label|
      %span.label-badge.label.label-primary
        %span.label-text= label
        %i.remove-label-button.fa.fa-times-circle
.milestone-selector
  %span Select a milestone
  %select#milestone-selector{:name => "milestone-selector"}
    %option{:value => "all"} All
    - @milestones.each do |title|
      - if params[:milestone] == title
        %option{:selected => "selected", :value => title}= title
      - else
        %option{:value => title}= title
  %label{:for => "local-filter"}
    Filter
    %input#local-filter{:placeholder => "Quick filter issues", :type => "text"}/
    %button#labels-button.btn.btn-sm.btn-default.label-legend-button Toggle Labels
- if @issues.size > 0
  #column_headers.column-headers
    - (1..num_cols).each do |i|
      .column-heading
        %input{:id => "col-header-#{i}", :type => "text", :value => @project.column_headers[i.to_s]}/
  .gridster
    %ul.gridster-data
      - col = 1
      - row = 1
      - @issues.each do |issue|
        - hash = @issue_map[issue.id]
        - i = hash[:issue]
        - repo = hash[:repo]
        %li{:class => "portlet issue-repo-#{@project.repositories.index(repo) % 10}", "data-col" => issue.col, "data-labels" => i.labels.collect(&:name).join(','), "data-row" => issue.row, "data-sizex" => issue.width, "data-sizey" => issue.height, :id => issue.id}
          %div{:class => "issue-label-container #{'expanded' if @project.display_labels}"}
            - i.labels.each do |label|
              .issue-label{:style => "background-color:##{label.color};", :title => label.name}= label.name
          .portlet-header
            - if user =  i.try(:assignee)
              .issue-assignee{"data-username" => user.login}
                %a{:href => "https://github.com/#{user.login}", :target => "_blank", :title => user.login}
                  %img.eightfoot-avatar{:alt => user.login, :src => user.rels[:avatar].href}/
            %span
              %span.issue-link
                %a{:href => i.rels[:html].href, :target => "_blank"}
                  %i.fa.fa-external-link
              - if i.comments.to_i > 0
                %a.comments-link{:href => i.rels[:html].href, :target => "_blank"}
                  %i.fa.fa-comments-o
                  = i.comments
              - if pr_url = pull_request_url(i)
                %a{:href => pull_request_changes_url(pr_url), :target => "_blank"}
                  %i.fa.fa-code-fork
              %span.issue-title
                = i.title
- else
  %p No issues to display! Good job :)
