<% @page_title = @project.name %>
<p>
<%= link_to 'Project Summary', @project %>
<% if @labels.any? %>
  <span>Prefiltering labels by:</span>
  <% @labels.each do |label| %>
    <span class="label-badge label label-primary">
      <span class="label-text"><%= label %></span>
      <i class="remove-label-button fa fa-times-circle"></i>
    </span>
  <% end %>
<% end %>
</p>
<div class="milestone-selector">
  <span>Select a milestone</span>
  <select name="milestone-selector" id="milestone-selector">
    <option value="all">All</option>
    <% @milestones.each do |title| %>
      <% if params[:milestone] == title %>
      <option value="<%= title %>" selected="selected"><%= title %></option>
      <% else %>
      <option value="<%= title %>"><%= title %></option>
      <% end %>
    <% end %>
  </select>

  <label for="local-filter">Filter</span>
  <input type="text" id="local-filter" placeholder="Quick filter issues">
  <button id="labels-button" class="btn btn-sm btn-default label-legend-button">Toggle Labels</button>
</div>

<% if @issues.size > 0 %>
  <div id="column_headers" class="column-headers">
    <% (1..num_cols).each do |i| %>
      <div class="column-heading">
        <input type="text" id="col-header-<%= i %>" value="<%= @project.column_headers[i.to_s] %>" />
      </div>
    <% end %>
  </div>
<div class="gridster">
  <ul class="gridster-data">
    <% col = 1 %>
    <% row = 1 %>
    <% @issues.each do |issue|%>
      <% hash = @issue_map[issue.id]
         i = hash[:issue]
         repo = hash[:repo]
       %>
      <li class="portlet issue-repo-<%=@project.repositories.index(repo) % 10%>" id="<%= issue.id %>" data-sizex="<%= issue.width %>" data-sizey="<%= issue.height %>" data-col="<%= issue.col %>" data-row="<%= issue.row %>" data-labels="<%= i.labels.collect(&:name).join(',') %>">
        <div class="issue-label-container <%='expanded' if @project.display_labels%>">
          <% i.labels.each do |label| %>
            <div class="issue-label" title="<%=label.name%>" style="background-color:#<%=label.color%>;"><%=label.name%></div>
          <% end %>
        </div>
        <div class="portlet-header">
          <% if user =  i.try(:assignee) %>
            <div class="issue-assignee" data-username="<%= user.login %>">
              <a href="https://github.com/<%= user.login %>" title="<%= user.login %>" target="_blank">
                <img class="eightfoot-avatar" src="<%= user.rels[:avatar].href %>" alt="<%= user.login %>"/>
              </a>
            </div>
          <% end %>
          <span>
            <span class="issue-link">
              <a target="_blank" href="<%= i.rels[:html].href %>">
                <i class="fa fa-external-link"></i>
              </a>
            </span>
            <% if i.comments.to_i > 0 %>
            <a class="comments-link" target="_blank" href="<%= i.rels[:html].href %>">
              <i class="fa fa-comments-o"></i>
              <%= i.comments %>
            </a>
            <% end %>
            <% if pr_url = pull_request_url(i) %>
            <a href="<%= pull_request_changes_url(pr_url) %>" target="_blank">
              <i class="fa fa-code-fork"></i>
            </a>
            <% end %>
            <span class="issue-title">
              <%= i.title %>

            </span>
          </span>
        </div>
        <% if !i.body.blank? %>
        <% row = row + 1
           if row >= 5
             col = col + 1
             row = 1
           end
           %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<% else %>
<p>No issues to display! Good job :)</p>
<% end %>
