- @page_title = "Add Users to #{@project.name}"
= link_to 'Project Summary', @project

%script
  :plain
    var add_path = "/projects/#{@project.id}/add_user";
    var remove_path = "/projects/#{@project.id}/remove_user";

%h2 People from your organizations:
- @organizations.each do |org|
  .organization-header
    %a.organization-avatar{href: org.rels[:html].href, target: "_blank"}
      %img{src: org.rels[:avatar].href}
    %h3= org.login
    %input.local-filter{type: "text", data: {filter_for: org.login}, placeholder: "Quick filter users"}
  %ul.user-list.local-filterable{data: {name: org.login}}
    - org.members.each do |user|
      = render partial: 'shared/user_tile', locals: {user: user}
