<% @page_title = "Add Users to #{@project.name}" %>
<%= link_to 'Project Summary', @project %>

<h2>People from your organizations:</h2>
<% @organizations.each do |org| %>
  <a href="<%= org.rels[:self].href %>" target="_blank">
    <img src="<%= org.rels[:avatar].href %>" />
  </a>
  <ul>
    <% members = @client.get(org.rels[:members].href) %>
    <% members.each do |member| %>
    <li>
      <div class="user-avatar">
        <img src="<%= member.rels[:avatar].href %>" />
      </div>
      <%= member.login %>
    </li>
    <% end %>
  </ul>
<% end %>
