<% @page_title = "Add Users to #{@project.name}" %>
<%= link_to 'Project Summary', @project %>

<script>
  var add_path = "/projects/<%= @project.id %>/add_user";
  var remove_path = "/projects/<%= @project.id %>/remove_user";
</script>

<h2>People from your organizations:</h2>
<% @organizations.each do |org| %>
  <div class="organization-header">
    <a class="organization-avatar" href="<%= org.rels[:html].href %>" target="_blank">
      <img src="<%= org.rels[:avatar].href %>" />
    </a>
    <h3><%= org.login %></h3>
    <input type="text" class="local-filter" data-filter-for="<%= org.login %>" placeholder="Quick filter users">
  </div>
  <ul class="user-list local-filterable" data-name="<%= org.login %>">
    <% org.members.each do |user| %>
    <%= render partial: 'shared/user_tile', locals: {user: user} %>
    <% end %>
  </ul>
<% end %>
