- @page_title = ""
- @page_type = "normal-page"

- if notice
  .alert.alert-success= notice
.btn-group
  %a.btn.btn-primary{href: project_issues_path(@project)} Issue Manager
  %a.btn.btn-default{href: edit_project_path(@project)}
    %i.fa.fa-pencil
    Edit Project
  %a.btn.btn-default{href: show_repos_project_path(@project)}
    %i.fa.fa-github
    Manage Repositories
  - if @project.repositories.any?
    %a.btn.btn-default{href: add_labels_project_path(@project)} Label Filters

%script
  :plain
    var add_path = "/projects/#{@project.id}/add_user";
    var remove_path = "/projects/#{@project.id}/remove_user";

%h2 Repositories in this project
- if @project.repositories.any?
  %ul.list-group
    - @project.repositories.each do |repo|
      %li.list-group-item
        %i.fa.fa-github
        %a{:href => "https://github.com/#{repo.name}", :target => "_blank"}= repo.name
- else
  %p
    You are not pulling issues from any repositories.
    %a{href: show_repos_project_path} Add some repositories.

- if @project.repositories.any?
  %h2 Repository issue filters
  - if @project.labels.any?
    %ul
      - @project.labels.each do |label|
        %li= label.name
  - else
    %p
      You're not pre-filtering your issues by any labels.
      %a{href: add_labels_project_path} Add some default filters.
%h2 Settings:
%ul.list-group
  %li.list-group-item
    Max Issues Per Repository: #{@project.max_issues}
  %li.list-group-item
    Display Labels: #{@project.display_labels}
%h2 Users with access to this project:
%ul.user-list.local-filterable
  - @project.users.each do |user|
    = render partial: 'shared/user_tile', locals: {user: user, remove_button: true, add_button: false}

= link_to 'Add Users', add_users_project_path(@project)
