<% @page_title =  'Manage repositories in ' + @project.name %>
<p>
<%= link_to('Project Summary', @project) %>

<div>
  <p id="notice"><%= notice %></p>
  <div class="alert alert-info">
    <i class="fa fa-info-circle fa-2x"></i>
    <span>
      <strong>Projects</strong> can aggregate issues across multiple GitHub repositories.  They can also set be set up to scope issues by only certain labels.
    </span>
  </div>
  <p>Select which repositories you'll display in <strong><%= @project.name %></strong></p>
  <%= simple_form_for @project do |f| %>
    <%= f.association :repositories, label_method: :slug,as: :check_boxes, multiple: true %>
    <%= f.button :submit, "Submit" %>
  <% end %>
  <% if flash[:error] -%>
    <p class='error'><%=h flash[:error] %></p>
  <% end -%>
  <h4>Or add a custom read-only repository</h4>
  <%= simple_form_for :repository, { url: 'add_repos' } do |f| %>
    <%= f.input :slug, label: false, placeholder: "username/project" %>
    <%= f.button :submit, "Add Repository" %>
  <% end %>
</div>
