<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>

  <p>Repositories:</p>
  <ul>
    <% @project.repositories.each do |repo| %>
      <li><%= repo.name %></li>
    <% end %>
  </ul>

  <%= link_to 'Add Repos', show_repos_project_path(@project) %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
