<% @page_title =  'Add Repo to ' + @project.name %>
<p>
<%= link_to('Project Summary', @project) %>
<div>
  <p id="notice"><%= notice %></p>
  <p>Select some repos to add to <strong><%= @project.name %></strong></p>
  <%= simple_form_for @project do |f| %>
    <%= f.association :repositories, label_method: :slug,as: :check_boxes, multiple: true %>
    <%= f.button :submit, "Submit" %>
  <% end %>

  <%= simple_form_for :repository, { url: 'add_repos' } do |f| %>
    <%= f.input :slug, label: false %>
    <%= f.button :submit, "Add Repos" %>
  <% end %>
</div>
